@page
@model microbank.Pages.Account.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <p>
        Podaj swoje imię i nazwisko.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Imię: <input asp-for="Customer.FirstName" /></div>
        <div>Nazwisko: <input asp-for="Customer.LastName" /></div>
        <input type="submit" />
    </form>
</body>
</html>